<div id="<%= dom_id service %>">

  <tbody>
    <% if service.user == current_user %>

      <tr class="bg-white">
        <th scope="row" class=" py-4 px-6 font-medium text-gray-900 whitespace-nowrap ">

          <%= service.name %>
        </th>
        <td class="py-4 px-6">
          <%= service.endpoint %>
        </td>
        <td class="py-4 px-6">
          <%= service.status %>
          <span
            class="text-xl <%= service.status_history.last == "200" ? 'text-green-500' : 'text-red-500' %>"
          >
            &#x2022;</span>
        </td>
        <td class="py-4 px-6">
          <%= service.interval %>
          Minute(s)
        </td>
        <td class="py-4 px-6">
          <% if action_name != "show" %>
            <%= link_to "View", service, class: "inline-flex items-center font-medium text-blue-900  hover:underline" %>
            <% link_to "Edit", edit_service_path(service), class: "inline-flex items-center font-medium text-blue-900  hover:underline" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</div>
